<div class="page-footer row">
    
    <a href="#/e-commerce/fiches-view" class="lienFooter">
    <div id="conseil-rayon" class="col-xs-8">
    	<div id="libelle-conseil-rayon" class="bold">
    		Conseils du rayon
    	</div>
    	<div id="description-conseil-rayon">
            Retrouvez nos conseils sur le rayon Openspace !
    	</div>
    </div>
    </a>

    <div id="icon-plan-magasin" class="col-xs-1">
    	<span class="glyphicon glyphicon-map-marker"></span>
    </div>

    <div id="titre-plan-magasin" class="col-xs-3">
    	Plan du magasin
    </div>
</div>